$button-background-color: $color-white;
$button-background-color-hover: transparent;
$button-border-color: $color-white;
$button-color: $color-black;
$button-color-hover: $color-white;
$button-color-active: $color-white;

.button {
  position: relative;
  display: inline-block;
  min-height: 50px;
  font-family: $font-secondary;
  font-size: 14px;
  padding: 12px 20px;
  outline: none;
  border-radius: 5px;
  appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $button-border-color;
  background-color: $button-background-color;
  color: $button-color;

  @media (min-width: 332px) {
    min-width: 260px;
  }

  @include laptop {
    font-size: 16px;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-white;

    svg {
      stroke: $color-white;
    }
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 18px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    stroke: $color-secondary;
  }

  &.icon-left {
    svg {
      left: 18px;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &--inverse {
    background-color: transparent;
    border-color: $color-white;
    color: $color-white;

    &:focus,
    &:hover,
    &:active {
      background-color: $color-white;
      border-color: $color-white;
      color: $color-secondary;

      svg {
        stroke: $color-secondary;
      }
    }

    svg {
      stroke: $color-white;
    }
  }

  &--primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-white;

    &:focus,
    &:hover,
    &:active {
      background-color: $color-secondary;
      border-color: $color-secondary;

      .background-secondary & {
        border-color: $color-white;
      }
    }

    svg {
      stroke: $color-white;
    }
  }

  &--secondary {
    border-color: $color-secondary;
    background-color: $color-secondary;
    color: $color-white;

    &:focus,
    &:hover,
    &:active {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    svg {
      stroke: $color-white;
    }
  }
}
