.card-care {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}

.card-care__image {
  position: relative;
}

.card-care__background {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @include laptop {
    height: auto;
  }
}

.card-care__logo {
  position: absolute;
  z-index: 10;
  margin: auto;
  width: 240px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-care__text h3 {
  font-family: $font-secondary;
  font-size: 30px;
  line-height: 36px;
  color: $color-secondary;
  text-align: center;
  margin-bottom: 14px;

  @include laptop {
    text-align: left;
  }
}

.card-care__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;

  @include laptop {
    padding: 36px 16px 30px 16px;
  }
}

.card-care__text p {
  margin-bottom: 20px;
  color: $color-gray;

  @include laptop {
    margin-bottom: 30px;
  }
}

.card-care__button {
  width: 100%;
  background-color: $color-secondary;
  color: $color-white;
  font-size: 16px;

  @include laptop {
    min-width: auto;
  }
}

.card-care__button-wrap {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: auto;
  gap: 8px;

  @include laptop {
    flex-direction: row;
    gap: 16px;
  }

  .button {
    min-width: auto;
  }
}

.card-care__image::before {
  content: "";
  background-color: $overlay;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-care-list {
  row-gap: 20px;

  @include laptop {
    row-gap: 16px;
  }

  > * {
    &:nth-child(3n + 1) {
      animation: fadeInUp;
      animation-duration: 1s;
      animation-fill-mode: both;
    }

    &:nth-child(3n + 2) {
      animation: fadeInUp;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 0.2s;
    }

    &:nth-child(3n + 3) {
      animation: fadeInUp;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 0.4s;
    }
  }

  .card-care {
    height: 100%;
  }
}
