.explore {
  padding: 36px 0 165px;
  text-align: center;

  @include tablet {
    padding: 40px 0;
  }

  @include laptop {
    padding: 80px 0 60px;
  }

  .container {
    @include tablet {
      max-width: 910px;
      margin: 0 auto;
    }

    @include laptop {
      max-width: 1800px;
    }
  }

  h2 {
    margin-bottom: 40px;

    @include laptop {
      margin-bottom: 50px;
    }
  }

  &__list {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 0 20px;
    position: relative;

    @media (min-width: 768px) {
      width: calc(100% + 64px);
      margin: 0 -32px;
      padding: 0 32px;
    }

    .button {

      @include tablet {
        min-width: auto;
      }
    }
  }

  .button {
    margin-top: 40px;

    @include laptop {
      margin-top: 64px;
    }
  }
}

.explore-slider {
  .swiper-slide {
    height: auto;

    >* {
      height: 100%;
    }
  }
}