.explore {
  padding: 36px 0 165px;
  text-align: center;

  @include tablet {
    padding: 40px 0;
  }

  @include desktop {
    padding: 80px 0 60px;
  }

  .container {
    @include tablet {
      max-width: 910px;
      margin: 0 auto;
    }

    @include desktop {
      max-width: 1800px;
    }
  }

  h2 {
    margin-bottom: 40px;

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &__list {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 0 20px;
    position: relative;

    @media (min-width: 768px) {
      width: calc(100% + 64px);
      margin: 0 -32px;
      padding: 0 32px;
    }
  }

  .button {
    margin-top: 40px;

    @include desktop {
      margin-top: 64px;
    }
  }
}
