.jobs {
  padding: 20px 0 35px;

  @include tablet {
    padding: 20px 0 40px;
  }

  @include laptop {
    padding: 40px 0 163px;
  }

  &__wrap {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: calc(100% + 16px);
      margin-right: auto;
    }

    @include laptop {
      max-width: 1800px;
      margin: 0 auto;
    }
  }

  .job-list {
    .card-job {
      animation: fadeInLeft;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
  }

  .job-info {
    animation: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  &--selected {
    .job-list {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }
}
