.menu-toggle-close {
  display: none;
  padding: 0;
  background: none;
  border: 0;

  @include laptop {
    display: none !important;
  }

  .mobile-menu-active & {
    display: block;
    margin-left: auto;
  }
}

.menu-toggle-open {
  padding: 0;
  background: none;
  border: 0;

  @include laptop {
    display: none;
  }

  .mobile-menu-active & {
    display: none;
  }
}
