.procare-services {
  padding: 40px 0;
  text-align: center;
  position: relative;
  color: $color-white;

  @include tablet {
    padding: 255px 0 40px;
  }

  @include laptop {
    background-color: transparent;
    padding: 352px 0 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 384px);
      background-color: $color-secondary;
      z-index: 1;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  p {
    max-width: 788px;
    margin: 0 auto 40px;

    @include laptop {
      max-width: 1088px;
      margin-bottom: 80px;
    }
  }

  .row {
    max-width: 788px;
    margin: 0 auto;

    @include laptop {
      max-width: 1500px;
    }
  }

  .col-6 {
    text-align: left;

    @media (max-width: 767px) {
      width: 100%;
    }

    @include tablet {
      width: calc(50% - 30px);
    }

    @include laptop {
      width: calc(50% - 60px);
    }

    &:first-child {
      margin-bottom: 40px;

      @include tablet {
        margin-right: 30px;
        margin-bottom: 0;
      }

      @include laptop {
        margin-right: 60px;
      }
    }

    &:nth-child(2) {
      @include tablet {
        margin-left: 30px;
      }

      @include laptop {
        margin-left: 60px;
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__caption {
    color: $color-white;

    @include laptop {
      color: $color-gray;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    margin-bottom: 20px;
    padding: 16px;
    position: relative;

    @include laptop {
      height: 420px;
      margin-bottom: 40px;
    }

    img,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }

    &::after {
      content: "";
      background-color: rgba($color-black, 0.3);
      z-index: 2;
    }

    h2 {
      margin-bottom: 0;
      position: relative;
      z-index: 3;
    }
  }
}
