.procare-explore {
  padding: 36px 0 40px;
  text-align: center;

  @include desktop {
    padding: 80px 0 54px;
  }

  h2 {
    margin-bottom: 40px;

    @include desktop {
      margin-bottom: 67px;
    }
  }

  &__list {
    font-size: 0;

    @include tablet {
      max-width: 860px;
      margin: 0 auto;
    }

    @include desktop {
      max-width: 1660px;
    }
  }

  .card-job {
    @media (max-width: 767px) {
      &:nth-child(n + 2) {
        display: none;
      }
    }

    @include tablet {
      display: inline-block;
      vertical-align: top;
      width: calc(100% / 3 - 16px);
      margin: 0 8px 16px;
    }
  }

  .button {
    margin-top: 40px;

    @include tablet {
      margin-top: 24px;
    }

    @include desktop {
      min-width: 292px;
      margin-top: 44px;
    }
  }
}
