.providers {
  padding: 40px 0 46px;
  text-align: center;

  @include tablet {
    padding: 40px 0;
  }

  @include laptop {
    padding: 65px 8px 90px;
  }

  @include laptop {
    padding: 65px 0 90px;
  }

  .h2 {
    @include laptop {
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 36px;

    @include laptop {
      margin-bottom: 72px;
    }
  }

  &__list {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 0 20px;
    position: relative;

    @include laptop {
      width: calc(100% + 64px);
      margin: 0 -32px;
      padding: 0 32px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vw;
    background-color: $color-white;
    position: relative;
    padding: 20px;

    @media (min-width: 360px) {
      height: 40vw;
    }

    @media (min-width: 620px) {
      height: 25vw;
    }

    @include tablet {
      height: 20vw;
    }

    @include laptop {
      height: 13vw;
      max-height: 260px;
      padding: 22px;
    }

    img {
      display: block;
    }
  }

  .button {
    margin-top: 40px;
  }
}
