.quiz {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 386px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $color-white;
}

.quiz__end {
  display: none;

  &.active {
    display: block;
  }
}

.quiz__intro {
  @include laptop {
    text-align: center;
  }

  &.hidden {
    display: none;
  }

  h2 {
    line-height: 36px;
    margin-bottom: 10px;

    @include laptop {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0;
      margin: 20px;
    }
  }

  p {
    color: $color-white;
  }

  .button {
    display: block;
    margin: 0 auto 40px;

    @include laptop {
      margin-bottom: 80px;
    }
  }
}

.quiz__prev {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  @include laptop {
    display: inline-block;
    margin-right: 16px;
  }
}

.quiz__next {
  display: block;
  margin-right: auto;
  margin-left: auto;

  @include laptop {
    display: inline-block;
  }
}

.quiz__progress {
  margin-top: auto;
  padding-top: 20px;

  @include laptop {
    padding-top: 0;
  }
}

.quiz__question-wrap {
  display: none;
  list-style-type: none;

  &.active {
    display: block;
  }
}

.quiz__question {
  display: none;
  opacity: 0;

  &.active {
    display: block;
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  h3 {
    letter-spacing: -1px;
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 5px;
    }
  }
}

.quiz__question-text {
  margin-bottom: 20px;
  border-bottom: 2px solid $color-white;

  @include tablet {
    padding-right: 20px;
    border-bottom: 0;
    border-right: 2px solid $color-white;
  }

  @include laptop {
    padding-right: 40px;
  }
}

.quiz__question-form {
  p {
    margin-bottom: 20px;
  }

  @include tablet {
    padding-left: 20px;
  }

  @include laptop {
    padding-left: 40px;
  }
}
