.quiz-offer-wrap {
  padding-top: 90px;
  margin-top: -40px;
  overflow: hidden;
}

.quiz-offer__image-wrap {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100%;

  @include tablet {
    max-width: 536px;
  }

  @media (min-width: 1500px) {
    max-width: 580px;
  }

  &:hover {
    .quiz-offer__logo-spin {
      transform: scale(1.2) rotate(-165deg);
      transition-property: transform;
      transition-duration: $transition-duration * 1.5;
      transition-timing-function: ease-in-out;

      @include tablet {
        transform: scale(1.2) rotate(-165deg);
      }
    }
  }
}

.quiz-offer__image {
  z-index: 3;
  position: relative;
  margin: 0 auto;
  max-height: 370px;
  width: auto;

  @include tablet {
    max-height: 100%;
    width: 94%;
  }

  @include laptop {
    position: absolute;
    bottom: 0;
    left: -16px;
    height: auto;
    max-height: initial;
  }
}

.quiz-offer__logo-spin {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 98%;
  transition-property: transform;
  transition-duration: $transition-duration * 1.5;
  transition-timing-function: ease-in-out;
  transform: scale(1.2);

  @include laptop {
    width: 100%;
    bottom: 50px;
    left: -42px;
  }
}

.quiz-offer__text {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 0;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    text-align: right;
  }

  @include laptop {
    padding-top: 130px;
    padding-right: 64px;
    padding-bottom: 120px;
  }

  p {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 50px;
    }
  }

  .button {
    display: inline-block;

    @include tablet {
      min-width: 185px;
    }

    @include laptop {
      min-width: 260px;
    }
  }
}
