.search {
  background-color: $color-secondary;
  padding: 13px 0;
  position: relative;

  @include desktop {
    padding: 20px 0;
  }

  &__select {
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: auto;
      right: 29px;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 8px 0;
      border-color: $color-white transparent transparent transparent;
      margin: auto 0;
      transition: $transition-duration;
      z-index: 1;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__form {
    width: 100%;
    background-color: $color-secondary;
    padding: 13px 0;
    transition: $transition-duration;
    opacity: 0;
    display: none;
    z-index: -1;

    @media (min-width: 768px) {
      max-width: 790px;
      margin: 0 auto;
      padding: 0;
      opacity: 1;
      display: block;
      z-index: 1;
    }

    @include desktop {
      max-width: 1800px;
    }
  }

  &__row {
    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }

  label {
    margin-bottom: 10px;

    @include desktop {
      margin-bottom: 5px;
    }
  }

  &__info {
    width: 100%;
    margin: 0 0 12px;

    @media (min-width: 768px) {
      display: block;
      flex: 1 0 calc(39% - 101px);
      margin: 0 16px 0 0;
    }

    @include desktop {
      flex: 1 0 calc(58% - 146px);
    }

    input {
      width: 100%;
    }

    .fsb-select {
      width: calc(50% - 8px);
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__aside {
    width: 100%;
    margin-bottom: 12px;

    @media (min-width: 768px) {
      flex: 1 0 calc(61% - 146px);
      margin-bottom: 0;
    }

    @include desktop {
      flex: 1 0 calc(42% - 146px);
    }
  }

  > *:first-child .button {
    width: 100%;
    line-height: 18px;
    min-width: 0;

    @media (min-width: 768px) {
      width: 185px;
      margin-left: 16px;
    }

    @include desktop {
      width: 260px;
    }
  }

  &.show {
    .search__select::after {
      transform: rotate(-180deg);
    }

    .search__form {
      opacity: 1;
      display: block;
      z-index: 3;
    }
  }

  &.advanced {
    padding: 20px 0;

    @media (min-width: 768px) {
      padding: 20px 0 30px;
    }

    @include desktop {
      padding: 40px 0;
    }

    .search__info,
    .search__aside {
      flex: 1 0 100%;

      @media (min-width: 768px) {
        flex: 1 0 calc(50% - 8px);
      }
    }

    .search__row {
      &:first-child {
        margin-bottom: 13px;

        @include desktop {
          margin-bottom: 40px;
        }

        .search__aside {
          @media (min-width: 768px) {
            max-width: calc(50% - 8px);
          }

          @include desktop {
            flex: 1 0 calc(50% - 284px);
            max-width: calc(50% - 284px);
          }
        }

        .button--primary {
          display: none;

          @include desktop {
            display: block;
          }
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        .fsb-select {
          .fsb-button,
          .fsb-option {
            text-transform: uppercase;
          }
        }
      }

      &:nth-child(2) {
        margin-bottom: 13px;

        @include desktop {
          margin-bottom: 0;
        }

        .search__info {
          display: flex;
          flex-direction: row;
          align-items: center;

          @include desktop {
            flex: 1 0 calc(58% - 146px);
          }
        }

        .toggle {
          display: none;

          @include desktop {
            display: block;
          }
        }

        .search__aside {
          display: flex;
          flex-direction: row;
          align-items: center;

          @include desktop {
            flex: 1 0 calc(42% + 114px);
          }

          .fsb-select {
            width: 100%;

            @include desktop {
              width: 260px;
            }
          }

          .toggle {
            @include desktop {
              width: calc(100% - 276px);
            }
          }
        }

        .fsb-option:first-child {
          display: none;
        }
      }

      &:nth-child(3) {
        @include desktop {
          display: none;
        }

        .button {
          width: 100%;

          @media (min-width: 768px) {
            width: 50%;
          }

          &.toggle {
            margin-left: 0;

            @media (min-width: 768px) {
              order: 1;
            }
          }

          &--primary {
            display: block;
            margin-bottom: 13px;

            @media (min-width: 768px) {
              order: 2;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .toggle {
      justify-content: flex-start;
    }
  }
}
