.search__job-title {
  grid-area: job-title;
}

.search__area {
  grid-area: job-area;
}

.search__submit {
  grid-area: submit;
}

.search__location {
  grid-area: location;
}

.search__job-type {
  grid-area: job-type;
}

.search__company {
  grid-area: company;
}

.search__quiz {
  grid-area: quiz;
}

.search__form {
  display: grid;
  grid-template-areas:
    "job-title job-title"
    "job-area job-area"
    "location job-type"
    "company company"
    "submit submit"
    "quiz quiz ";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: end;

  @include tablet {
    grid-template-areas:
      "job-title job-title job-area job-area"
      "location job-type company company"
      "quiz quiz submit submit";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include desktop {
    grid-template-areas:
      "job-title job-title job-area job-area submit"
      "location job-type company quiz quiz";
    grid-template-columns: [job-title] 25% [job-title] 25% [job-area] 1fr [job-area] 1fr [submit] 260px;
    gap: 40px 16px;
  }
}
