$video-height: 430px;
$video-height-desktop: 544px;

.section-video {
  text-align: center;

  h2 {
    line-height: 37px;

    @include laptop {
      line-height: 55px;
    }
  }

  p {
    max-width: 788px;
    margin-right: auto;
    margin-left: auto;

    @include laptop {
      max-width: 1088px;
    }
  }
}

.section-video__wrap {
  z-index: 2;
  position: relative;
  margin-right: -($container-padding-x / 2);
  margin-left: -($container-padding-x / 2);

  @include tablet {
    margin-right: 0;
    margin-left: 0;
  }
}

.section-video--overlap {
  @include tablet {
    margin-bottom: -($video-height-desktop / 2);
  }

  + section {
    @include tablet {
      padding-top: $video-height / 2 + $section-padding-vertical +
        $section-padding-vertical;
    }

    @include desktop {
      padding-top: $video-height-desktop / 2 + $section-padding-vertical-desktop;
    }
  }
}
