.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include laptop {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &--procare-overview h2 {
    margin-bottom: 20px;

    @include laptop {
      margin-bottom: 27px;
    }
  }
}

.section-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}
