.video {
  position: relative;
  line-height: 0;
  height: 430px;

  @include laptop {
    height: 544px;
  }

  iframe {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &__play {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    background: none;
    border: 0;
    border-radius: 50%;
    color: $color-white;
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
      color: $color-black;
    }

    svg {
      width: 78px;
      height: 80px;

      @include laptop {
        width: 98px;
        height: 100px;
      }
    }
  }
}
