.welcome {
  position: relative;
  padding: 0;

  @include laptop {
    padding: 0;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    &::after {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 540px;
      background: linear-gradient(to bottom, transparent, $color-black);
      opacity: 0.5;
      z-index: 1;

      @include tablet {
        height: 388px;
      }

      @include laptop {
        height: 540px;
      }
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

  &__mouse {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    width: 36px;
    height: 84px;
    border: none;
    background-color: transparent;
    padding: 0;
    z-index: 3;

    @include laptop {
      display: block;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $color-white;
      color: $color-white;
    }
  }
}

.welcome-slider {
  height: calc(100vh - 230px);

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 16px;
    }

    h1 span:nth-child(1) {
      display: block;

      font-size: 50px;
      line-height: 1;

      @media (min-width: 430px) {
        font-size: 60px;
      }

      @include laptop {
        font-size: 120px;
      }
    }

    h1 span:nth-child(2) {
      display: block;
      max-width: 520px;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 26px;

      @include laptop {
        max-width: 980px;
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 65px;
      }
    }
  }

  .swiper-pagination {
    z-index: 3;
    justify-content: flex-end;
    right: 0;
    bottom: 50px;
    gap: 10px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-pagination-bullet {
    border: 1px solid transparent;
    opacity: 1;
    transition-property: border-color;
    transition-duration: $transition-duration;

    &:focus,
    &:hover,
    &:active {
      border-color: $color-white;
      transition-property: border-color;
      transition-duration: $transition-duration;
    }
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    border: 1px solid $color-white;
  }
}

.page-loaded {
  .welcome-slider {
    h1 {
      span:nth-child(1) {
        animation: fadeInUp;
        animation-duration: 2s;
        animation-fill-mode: both;
      }
    }
    h1 {
      span:nth-child(2) {
        animation: fadeIn;
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-delay: 0.5s;
      }
    }
    .button {
      animation: fadeIn;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 2s;
    }
  }
}
