section.caring#caring
  .container
    h2.h2 Caring isn’t just a job.
    p It’s one of the most challenging and rewarding careers you can choose. If you’ve got what it takes to offer compassion and support, you could make a real difference – for tomorrow, not just today.
    a(href="#").button.button--primary
      | Could you change someone’s life for good?