footer.footer.background-primary
  .container
    .footer__inner
      .footer__logo 
        img(src="images/logo.svg", alt="carejobstoday logo")
      .footer__links 
        a(href="") About Tristone
        a(href="") Privacy Policy and GDPR