include ../mixins/card-job

.job-list
  .job-list__sort
    .job-list__text
      | Carer jobs
    .job-list__wrap
      .job-list__text
        | Sorted by: 
        span
          | Date posted
      .job-list__text
        | 46 jobs
  +cardJob({
    "src": "images/providers/procare-wales-logo.png",
    "title": "Live in carer",
    "luggage": "ProCare Wales",
    "destination": "Rhyl, Denbighshire",
    "time": "Full-time (45 hours)",
    "money": "£10.42 an hour",
    "people": "Hiring multiple candidates",
    "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
    "link": true,
  })
  +cardJob({
    "src": "images/providers/premier-logo.png",
    "title": "Support Worker",
    "luggage": "Juventas",
    "destination": "Norwich, Norfolk",
    "time": "Full-time (45 hours)",
    "money": "£10.42 an hour",
    "people": "Hiring multiple candidates",
    "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
    "link": true,
  })
  +cardJob({
    "src": "images/providers/beyond-limits-logo.png",
    "title": "Care Worker",
    "luggage": "Beyond Limits",
    "destination": "Plymouth, Devon",
    "time": "Full-time (45 hours)",
    "money": "£10.42 an hour",
    "people": "Hiring multiple candidates",
    "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
    "link": true,
  })
  +cardJob({
    "src": "images/providers/beyond-limits-logo.png",
    "title": "Care Duty Manager",
    "luggage": "Beyond Limits",
    "destination": "Plymouth, Devon",
    "time": "Full-time (45 hours)",
    "money": "£10.42 an hour",
    "people": "Hiring multiple candidates",
    "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
    "link": true,
  })
  +cardJob({
    "src": "images/providers/dimensions-care-logo.png",
    "title": "Care Assistant",
    "luggage": "Sportfit",
    "destination": "Southampton, Hampshire",
    "time": "Full-time (45 hours)",
    "money": "£10.42 an hour",
    "people": "Hiring multiple candidates",
    "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
    "link": true,
  })
  +cardJob({
    "src": "images/providers/premier-logo.png",
    "title": "Assistant Health Care Supporter",
    "luggage": "Premier Care Management",
    "destination": "Kingswood, Bristol",
    "time": "Full-time (45 hours)",
    "money": "£10.42 an hour",
    "people": "Hiring multiple candidates",
    "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
    "link": true,
  })
  +cardJob({
    "src": "images/providers/dimensions-care-logo.png",
    "title": "Health Care Supporter",
    "luggage": "ProCare Wales",
    "destination": "Rhyl, Denbighshire",
    "time": "Full-time (45 hours)",
    "money": "£10.42 an hour",
    "people": "Hiring multiple candidates",
    "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
    "link": true,
  })
  +pagination(3, 1)