section.section.procare-reason.pt-0.pb-0
  .row
    .col-6
      .procare-reason__image
        img(src="images/role.jpg" title="" alt="")
      h2.h2.text-white
        | “This is a great place to work, definitely. I count myself very fortunate to have got a job with ProCare. I have no background in care. I’ve put a lot into learning for myself, I’m very proud of the feedback I’ve been getting. ”
    .col-6
      h2.h2.text-secondary
        | Why join our care team?
      p
        | As well as a meaningful career with opportunities for progression, we offer a competitive salary and additional training to support your growth. 
        | 
        | If you want a fulfilling role where you can make a difference to people’s lives. Are energetic, dynamic, highly motivated and can demonstrate excellent interpersonal and communication skills to support adults who have complex support needs including learning disabilities and challenging behaviour, then we want to hear from you!! 
        | 
        | Have a look at our current opportunities and feel free to contact us for an informal chat if you have any questions.