section.section.procare-about
  .container
    h2.h2.text-center About us
    .row 
      .col-md-10.offset-md-1
        .text-center
          p.mb-0 ProCare Wales is committed to employing and retaining high calibre staff with a sound values base. We endeavour to employ quality staff who support individuals in a respectful and nurturing way. We recognise that experience and knowledge are often important pre-requisites to successful performance, but the attitude and personality of individual staff members is equally important. We match (whenever possible) the available staff to the individual requiring support based on ‘best fit’ principles; these principles include personality type, age, gender, interests etc.