section.procare-services.background-secondary
  .container
    h2.h2
      | Our Services
    p
      | We care and support Children and Young People aged 10 to 18 years old with Social, Emotional and Complex Needs offering them a home in which they can feel appreciated, acknowledged and safe.
    .row
      .col-6
        .procare-services__image
          img(src="images/service-1.jpg" title="" alt="")
          h2.h2.text-white
            | Residential Services
        p
          | Procare Wales have three residential care homes; Plas Lorna in Rhuddlan and Daniel House in Llanddulas. Our residential care homes are for individuals with complex needs between the ages of 16 and 64.
      .col-6
        .procare-services__image
          img(src="images/service-2.jpg" title="" alt="")
          h2.h2.text-white
            | Community Living Services
        p
          | Procare Wales provide early intervention work within a child’s home and school environment and/or support for a young parent with a learning disability and their child. We also provide bespoke support to both male and female adults aged 18 and over.