section.section.procare-explore.background-muted
  .container
    h2.h2
      | Explore jobs
    .procare-explore__list
      +cardJob({
        "src": "images/providers/procare-wales-logo.png",
        "title": "Health Care Supporter",
        "luggage": "ProCare Wales",
        "destination": "Rhyl, Denbighshire",
        "time": "Full-time (45 hours)",
        "money": "£10.42 an hour",
        "people": "Hiring multiple candidates",
        "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
        "button": "DISCOVER MORE & APPLY",
      })
      +cardJob({
        "src": "images/providers/procare-wales-logo.png",
        "title": "Health Care Supporter",
        "luggage": "ProCare Wales",
        "destination": "Rhyl, Denbighshire",
        "time": "Full-time (45 hours)",
        "money": "£10.42 an hour",
        "people": "Hiring multiple candidates",
        "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
        "button": "DISCOVER MORE & APPLY",
      })
      +cardJob({
        "src": "images/providers/procare-wales-logo.png",
        "title": "Health Care Supporter",
        "luggage": "ProCare Wales",
        "destination": "Rhyl, Denbighshire",
        "time": "Full-time (45 hours)",
        "money": "£10.42 an hour",
        "people": "Hiring multiple candidates",
        "text": "A typical day in the life of a Care Assistant will help support our customers in a variety of ways depending on their needs, this could include, providing personal care, medication management, light domestic duties, meal preparation, shopping and companionship.",
        "button": "DISCOVER MORE & APPLY",
      })
    a(href="#").button.button--secondary
      | View all procare wales jobs