section.section.procare-video
  .container
    h2.h2
      | What’s it like to work in one of our care homes?
    p
      | Don’t take our word for it – here’s support worker Fran describing what she gets out of working in care.
    .procare-video__wrap
      +videoVimeo