section.procare-video
  .container
    h2.h2
      | What’s it like to work in one of our care homes?
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam non nisi est sit amet.
    .procare-video__wrap
      +videoVimeo