section.procare-benefits
  .container
    h2.h2
      | Benefits
    ul
      li
        p
          | Benefits
      li
        p
          | Pension
      li
        p
          | Medicash Level 2 cover including dental and optical costs
      li
        p
          | Employee Assistance Programme
      li
        p
          | Virtual GP service
      li
        p
          | Extra days annual leave after three years service (up to a maximum of 10 days)
      li
        p
          | Stress Support
      li
        p
          | Discounted gym membership
      li
        p
          | Health screenings
      li
        p
          | Perks at Work Scheme
      li
        p
          | Face to face training at our in-house training facility
      li
        p
          | Sickness Absence Bonus Scheme
      li
        p
          | Fully funded training opportunities including NVQ’s levels 2 -5
      li
        p
          | Free DBS – (refunded after 6 months service)
      li
        p
          | Bike 2 Work Scheme
      li
        p
          | Staff Referral Scheme
      li
        p
          | Critical Illness Cover
      li
        p
          | Death in Service Benefit