section.section.providers.background-primary
  .container-md
    h2.h2.text-secondary
      | Our care providers
    p
      | Find out more about the amazing work our partner businesses do and search our latest job vacancies.
    .providers__list
      .swiper.js-providers-slider
        .swiper-wrapper
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/beyond-limits-logo.png" alt="" title="")
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/dimensions-care-logo.png" alt="" title="")
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/premier-logo.png" alt="" title="")
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/procare-wales-logo.png" alt="" title="")
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/beyond-limits-logo.png" alt="" title="")
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/dimensions-care-logo.png" alt="" title="")
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/premier-logo.png" alt="" title="")
          .swiper-slide
            a(href="#").providers__item
              img(src="images/providers/procare-wales-logo.png" alt="" title="")
      button.swiper-button-prev.js-providers-slider-prev
      button.swiper-button-next.js-providers-slider-next
    a(href="#").button.button--secondary
      | Our businesses