section.section.quiz(style=`background-image: linear-gradient(rgba(16,39,58,0.8), rgba(16,39,58,0.8)), url(./images/procare-wales.jpg)`)
  form#quiz-form(name="quiz-form" action="#" method="post") 
    .quiz__intro
      .container
        .row 
          .col-md-8.offset-md-2.col-xl-4.offset-xl-4
            h2.h2 Working in social care is incredibly rewarding, but it’s not for everyone.
            p Take our short quiz to find out whether you’re suited to life as a carer.
            button.button.button--primary.js-quiz-start(type="button")
              span Start
              +svg('chevron-right')

    ul.quiz__question-wrap
      li.quiz__question
        .container
          .row
            .col-md-6
              .quiz__question-text
                h3.h3.text-primary
                  span.quiz__question-number
                  span Confidence
                p Young people and adults with mental health conditions or learning disabilities often need support with medical appointments, housing options and claiming benefits. Part of a carer’s role is to advocate on their behalf to ensure they can live a comfortable and healthy life.

            .col-md-6
              .quiz__question-form
                h3.h3 Question
                p
                  b How confident are you speaking up in meetings and appointments?
                .quiz__controls
                  .form-group
                    +radio("Speaking to people in authority is my worst nightmare", "radio1", "value1", true)
                  .form-group
                    +radio("Very. I’m always happy to make myself heard", "radio1", "value2")
                  .form-group
                    +radio("Not too bad, but I know I need to be more confident", "radio1", "value3")
                .quiz__buttons
                  button.button.button--primary.text-left.quiz__next(type="button")
                    span Next question
                    +svg("chevron-right")

      li.quiz__question
        .container
          .row
            .col-md-6
              .quiz__question-text
                h3.h3.text-primary
                  span.quiz__question-number
                  span Confidence
                p Young people and adults with mental health conditions or learning disabilities often need support with medical appointments, housing options and claiming benefits. Part of a carer’s role is to advocate on their behalf to ensure they can live a comfortable and healthy life.

            .col-md-6
              .quiz__question-form
                h3.h3 Question
                p
                  b How confident are you speaking up in meetings and appointments?
                .quiz__controls
                  .form-group
                    +radio("Speaking to people in authority is my worst nightmare", "radio2", "value1", true)
                  .form-group
                    +radio("Very. I’m always happy to make myself heard", "radio2", "value2")
                  .form-group
                    +radio("Not too bad, but I know I need to be more confident", "radio2", "value3")
                .quiz__buttons
                  button.button.button--primary.text-right.icon-left.quiz__prev(type="button")
                    +svg("chevron-right")
                    span Previous question
                  button.button.button--primary.text-left.quiz__next(type="button")
                    span Next question
                    +svg("chevron-right")

      li.quiz__question
        .container
          .row
            .col-md-6
              .quiz__question-text
                h3.h3.text-primary
                  span.quiz__question-number
                  span Confidence
                p Young people and adults with mental health conditions or learning disabilities often need support with medical appointments, housing options and claiming benefits. Part of a carer’s role is to advocate on their behalf to ensure they can live a comfortable and healthy life.

            .col-md-6
              .quiz__question-form
                h3.h3 Question
                p
                  b How confident are you speaking up in meetings and appointments?
                .quiz__controls
                  .form-group
                    +radio("Speaking to people in authority is my worst nightmare", "radio3", "value1", true)
                  .form-group
                    +radio("Very. I’m always happy to make myself heard", "radio3", "value2")
                  .form-group
                    +radio("Not too bad, but I know I need to be more confident", "radio3", "value3")
                .quiz__buttons
                  button.button.button--primary.text-right.icon-left.quiz__prev(type="button")
                    +svg("chevron-right")
                    span Previous question
                  button.button.button--primary.text-left.quiz__submit(type="submit")
                    span Submit
                    +svg("chevron-right")

  .quiz__result
    .container
      .row
        .col-md-4.offset-md-4
          .text-center
            h3.h3.text-primary Great! It sounds like you've got what it takes for a career in care.
            p Here are some current roles you might be interested 
        .quiz__result-actions
          button.button View answers
          button.button.button--inverse.text-left(type="button")
            span Clear answers
            +svg('reset')
  .quiz__progress
    .container
      .progress
        .progress__questions Question&nbsp;
          span.progress__questions-current
          |&nbsp;of&nbsp;
          span.progress__questions-total
        progress.progress__line(value="10" max="100")
        .progress__dividers