section.section.role.background-default
  .container-md
    .role__wrap
      .role__image
        img(src="images/role.jpg" title="" alt="")
      .role__info
        h2.h2
          | Find your perfect role
        p
          | Whether you’re just starting out in your career or have worked in care before, you could be the one who makes a difference in someone’s life. We have many different roles requiring a range of skills and qualifications and we welcome applicants from all cultures, backgrounds and experiences. 
          | 
          | Find out more about being a carer or search our latest job vacancies now.
        .role__buttons
          a(href="#").button.button--primary
            | Our businesses
          a(href="#").button.button--primary
            | Search jobs