section.section-sm.jobs.jobs--selected.background-muted
  .container
    .row
      .col-md-6.col-xl-5
        include ./components/job-list
      .col-md-6.col-xl-7
        include ./components/job-info