include mixins/accordion
include mixins/breadcrumb
include mixins/checkbox
include mixins/lazyElements
include mixins/navbar
include mixins/page-header
include mixins/pagination
include mixins/radio
include mixins/sliders
include mixins/social-links
include mixins/svg
include mixins/switch
include mixins/tabs
include mixins/timeline
include mixins/video
include mixins/card-care