extends pug/base

prepend vars
  - title = 'Homepage'

append vars
  //-

block content
  +search()
  include ./pug/components/welcome
  include ./pug/components/caring
  include ./pug/components/providers
  include ./pug/components/role
  +quiz-offer("Is caring the right job for me?", "If you're not sure whether a career in complex care is right for you, take our short quiz.")
  include ./pug/components/explore