extends pug/base

prepend vars
  //-

append vars
  //-

block content
  .container
    br
    a(href="home.html")
      h3.h3 Homepage
    br
    a(href="jobs.html")
      h3.h3 Jobs
    br
    a(href="thank-you.html")
      h3.h3 Thank you
    br
    a(href="our-businesses.html")
      h3.h3 Our Businesses
    br
    a(href="procare-wales-overview.html")
      h3.h3 ProCare Wales - Overview
    br
    a(href="procare-wales-jobs.html")
      h3.h3 ProCare Wales - Jobs
    br
    a(href="procare-wales-interview.html")
      h3.h3 ProCare Wales - Interview Process
    br
    a(href="life-carer.html")
      h3.h3 Life as a Carer
    br
    a(href="uikit.html")
      h3.h3 UI Kit
