extends pug/base

prepend vars
  - title = 'Jobs'

append vars
  //-

block content
  +search("advanced")
  section.section.jobs.background-muted
    .container
      .row
        .col-md-6.col-xl-5
          include ./pug/components/job-list