extends pug/base

prepend vars
  - title = 'Jobs'

append vars
  //-

block content
  +search("advanced")
  section.jobs.background-muted
    .container
      .jobs__wrap
        include ./pug/components/job-list
        include ./pug/components/job-info