extends pug/base

prepend vars
  - title = 'Our Businesses'

append vars
  //-

block content
  +page-header('Our Businesses', 'Find out more about our trusted care providers.', '../images/our-businesses.jpg')
  section.section-businesses.background-muted
    .container 
      .row
        .col-md-6.col-lg-4
          +cardCare({
            image: "images/card-image.jpg",
            logo: "images/procare-wales-logo.svg",
            title: "Beyond Limits",
            text: "We provide tailor-made support to people with learning disabilities, mental health issues and other support needs. We specialise in helping people move back home from ‘out of area’ placements and encourage independent living.",
          })
        .col-md-6.col-lg-4
          +cardCare({
            image: "images/card-image.jpg",
            logo: "images/procare-wales-logo.svg",
            title: "Beyond ",
            text: "We provide tailor-made support to people with learning disabilities, mental health issues and other support needs. We specialise in helping people move back home from ‘out of area’ placements and encourage independent living.",
          })
        .col-md-6.col-lg-4
          +cardCare({
            image: "images/card-image.jpg",
            logo: "images/procare-wales-logo.svg",
            title: "Beyond Limits",
            text: "We provide tailor-made support to people with learning disabilities, mental health issues and other support needs. We specialise in helping people move back home from ‘out of area’ placements and encourage independent living.",
          })
