extends pug/base

prepend vars
  - title = 'ProCare Wales Overview'

append vars
  //-

block content
  +page-header-logo('../images/procare-wales.jpg', 'images/procare-wales-logo.svg')
  .page-tabs
    +tabs-custom(
      [
        {
          name: 'Overview',
          active: true,
          id: 'tab1',
          href: 'procare-wales-overview.html'
        },
        {
          name: 'Jobs',
          id: 'tab2',
          href: 'procare-wales-jobs.html'
        },
        {
          name: 'Interview Process',
          id: 'tab3',
          href: 'procare-wales-interview.html'
        }
      ]
    )
  section.section.section--procare-overview
    include ./pug/components/procare-about
    include ./pug/components/procare-reason
    include ./pug/components/procare-video
    include ./pug/components/procare-services
    include ./pug/components/procare-benefits
    include ./pug/components/procare-explore