extends pug/base

prepend vars
  - title = 'ProCare Wales - Jobs Selected'

append vars
  //-

block content
  +page-header-logo('../images/procare-wales.jpg', 'images/procare-wales-logo.svg')
  .tabs-wrap
    .container
      +tabs-custom-slider(
        [
          {
            name: 'Overview',
            id: 'tab1',
            href: 'procare-wales-overview.html'
          },
          {
            name: 'Jobs',
            active: true,
            id: 'tab2',
            href: 'procare-wales-jobs.html'
          },
          {
            name: 'Interview Process',
            id: 'tab3',
            href: 'procare-wales-interview.html'
          },
          {
            name: 'Blog',
            id: 'tab4',
            href: 'procare-wales-blog.html'
          }
        ]
      )
  section.section.jobs.jobs--selected.background-muted
    .container
      .jobs__wrap
        include ./pug/components/job-list
        include ./pug/components/job-info
  include ./pug/components/job-not-found-submit