// stylelint-disable scss/dollar-variable-empty-line-before

// Colors
$color-black: #000;
$color-white: #fff;
$color-muted: #ededed;
$color-gray: #808080;

// Primary - Secondary
$color-primary: #63aab0;
$color-secondary: #10273a;

// Forms
$input-font-size: 16px;
$input-font-size-desktop: 14px;
$input-border-width: 1px;
$input-border-color: $color-muted;
$input-border-color-hover: $color-primary;
$input-border-radius: 5px;
$input-icon-width: 32px;
$input-padding-x: 12px;
$input-padding-y: 20px;
$input-padding: $input-padding-x $input-padding-y;
$input-hint-font-size: 14px;
$input-padding-icon-x: $input-icon-width + $input-padding-x;

// Overlays
$overlay: rgba(0, 0, 0, 0.2);

// Fonts
// stylelint-disable-next-line
$font-primary: "Montserrat", tahoma, sans-serif;
$font-secondary: "Baloo2", tahoma, sans-serif;
$font-weight: 500;
$line-height: 1.5;
$font-size: 14px;
$font-size-desktop: 16px;

// Sections
$section-padding-vertical: 40px;
$section-padding-vertical-desktop: 80px;

// Easing transitions
$transition-duration: 0.2s;

// Settings

$desktop: 1366; // Desktops = 1366px to higher resolution desktops
$laptop: 1025; // Laptops, Desktops - from 1025px to higher
$tablet: 768; // Tablets, Ipads (portrait) - from 768px to higher

// Bootstrap overrides
// scss-docs-end grid-breakpoints
$grid-gutter-width: 16px;

$container-padding-x: 72px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
) !default;
