// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #000;
$color-white: #fff;
$color-muted: #ededed;
$color-gray: #808080;

// PRIMARY - SECONDARY
$color-primary: #63aab0;
$color-secondary: #10273a;

// FORMS
$input-font-size: 14px;
$input-border-width: 1px;
$input-border-color: $color-muted;
$input-border-color-hover: $color-primary;
$input-border-radius: 5px;
$input-icon-width: 32px;
$input-padding-x: 12px;
$input-padding-y: 20px;
$input-padding: $input-padding-x $input-padding-y;
$input-hint-font-size: 14px;
$input-padding-icon-x: $input-icon-width + $input-padding-x;

// OVERLAYS
$overlay: rgba(0, 0, 0, 0.2);

// FONTS
// stylelint-disable-next-line
$font-primary: "Montserrat", tahoma, sans-serif;
$font-secondary: "Baloo2", tahoma, sans-serif;
$font-weight: 500;
$line-height: 1.5;
$font-size: 14px;
$font-size-desktop: 16px;

// EASING TRANSITIONS
$transition-duration: 0.2s;

// Settings
$desktop: 1366;
$laptop: 1025;
$tablet: 768;

// Bootstrap overrides
// scss-docs-end grid-breakpoints
$grid-gutter-width: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
) !default;

$container-padding-x: 72px;

$container-max-widths: (
  sm: 768px,
  md: 1024px,
  lg: 1366px,
  xl: 1800px,
);
